
body{
    margin: 0;
    color: var(--primary-text-color);
    background-color: var(--main-bcg-color);
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
button{
    cursor: pointer;
    font-family: inherit;
}